<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 150, 150, fallback: "no-image.png", size: "150×150") %></tr>
  <tr>
	  <th></th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>今日</th>
	  <th><%= user.pomodoros.where(created_at: Date.today).count %> sets</th>
  </tr>
  <tr>
    <th>今週</th>
    <th><%= user.pomodoros.where(created_at: Date.today.all_week).count %> sets</th>
  </tr>
  <tr>
    <th>今月</th>
    <th><%= user.pomodoros.where(created_at: Date.today.all_month).count %> sets</th>
  </tr>
</table>

<div class='row'>
  <%= link_to '', edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>